/* A custom css file for "Better UI" plugin */

/* WARNING: Use carefully this might break app */

/* A custom css file for "Better UI" plugin */

/* WARNING: Use carefully this might break app */



/* List File  */

.open-file-list {

	font-size: 5px;

	height: 20px;

}



span#counting {

	color: red;

}



/* Atur footer agar tingginya menyesuaikan konten terkecil */

footer#quick-tools {

	display: flex;

	flex-direction: column;

	/* align-items: flex-start; */

	align-items: center; /* membuat isi footer jadi center */

	height: min-content; /* Tinggi otomatis sesuai konten */

	border: 1px solid green;

	overflow: hidden;

}



/* Setiap baris tombol (row1, row2) */

.button-container {

	display: flex;

	align-items: flex-start; /* Tombol melekat di atas */

	min-height: 20px; /* Minimal tinggi sesuai tombol */

	height: min-content; /* Menyesuaikan tinggi sesuai konten */

	/* border: 1px solid yellow; */

	overflow-x: auto; /* Scroll horizontal jika diperlukan */

}



/* Setiap section dalam button-container */

.button-container .section {

	display: flex;

	align-items: flex-start; /* Tombol tidak tengah vertikal */

	min-height: 20px;

	height: min-content;

	border: 1px solid red;

	gap: 2px; /* Jarak antar tombol */

}



.button-container .section > button {

	height: 20px;

	width: 4px;

	font-size: 1px;

	border: 1px solid blue;

	padding: 0;

	margin: 0;

}

.ace_gutter-active-line.ace_gutter-cell.ace_error {

	background-color: #ffe6e6;

	color: red;

	font-size: 1px;

	text-align: center;

	position: absolute;

	height: auto;

	width: auto;

}

.ace_gutter_annotation {

	display: block;

	height: 12px;

}



.ace_icon {

	display: inline-block;

	width: 1px;

	height: 5px;

	font-size: 1px;

	/* background-image: url("path/to/error-icon.svg"); */

	background-size: 1px;

	background-repeat: no-repeat;

}



.ace_gutter-layer {

	border: 1px solid #ffe6e6;

	width: auto;

	max-width: auto;

}

/* div.breadcrumbs {

    visibility: hidden;

    border: 1px solid #ffe6e6;

    font-size: 5px;

    height: 1px; }

 */

